:root
	// optimize color contrast for accessibility
	--background-color: black
	--foreground-color: white
	--link-color: lightskyblue
	--visited-color: #dda0dd
	--visited-negative: #225f22
	--border-style: thin solid
	--font-size: medium
	--link-pad: 0.5em
	--neg-link-pad: -0.5em
	--layout-pad: 1em
	background: var(--background-color)
	color: var(--foreground-color)
	// use system font
	font: menu
	font-size: var(--font-size)
	line-height: 1.6
	text-align: justify
