doctype html
html(xmlns='http://www.w3.org/1999/xhtml' lang='en')
	head
		//- script(src='//localhost:35729/livereload.js?snipver=1' async defer)
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible' content='IE=edge')
		meta(name='viewport' content='width=device-width, initial-scale=1')
		title Elm SPA
	body.scripting-unavailable
		//- script(src='elm.js')
